@import "globals.scss";

// fixed logo
.logo.logo-fixed {
	left:0;
	top:rem(100);
	position: fixed;
}

header {
	background-color:$primary;
	position: relative;

	.logo-container {
		padding-top:rem(15);
	}
}

nav {
	padding-left:rem(10) !important;
	padding-right:rem(10) !important;
	padding-bottom:rem(10) !important;

	.navbar-toggler {
		background:$light;
		position: absolute;
	    right: rem(20);
	    top: rem(-25);
	}

	&.navbar {
		padding: {
			top:rem(28);
			left:0;
			right:0;
			bottom:0;
		}
	}

	.nav-item {
		background-color:$secondary;
		transition:300ms background ease-in-out;
		border-bottom:1px solid #000;

		a.nav-link {
			color:$light !important;
			display:block;
			text-align:center;
			font-weight:bold;
			padding: {
				top:rem(15) !important;
				bottom:rem(15) !important;
			}
		}

		&:hover,
		&.active,
		&:active,
		&:focus {
			background:$hover;
		}

		&.dropdown {
			.dropdown-toggle {
				color:$light;
				font-weight:bold;
				text-align:center;
				padding: {
					top:rem(15);
					bottom:rem(15);
				}

				&:after {
					vertical-align:0.15em;
				}
			}
		}
	}
}

// main content
.main-container {
	min-height:836px;

	.content-wrapper {
		background:$main-content;
		border:rem(10) solid;
		border-color:#066666;
		padding:rem(18) rem(10) rem(10);
		height:100%;

		p {
			padding: {
				left:rem(13);
				right:rem(13);
			}
			text-indent:rem(36);
			font-size:rem(12);
		}
	}

	// Aside
	aside {
		background:$primary;
		border:rem(10) solid #055252;
		height:100%;
		padding:rem(16) rem(13) rem(32);

		span.headline {
			font-size:rem(16);
			text-transform:uppercase;
			display:block;
			font-family:Tahoma, sans-serif;
			margin-bottom:rem(18);
		}

		.social-icons {
			margin-bottom:rem(38);
			li {
				margin-right:rem(13);
				a {
					display:block;
					background:#848484;
					padding:rem(10);
					transition:300ms background ease-in-out;

					.svg-inline--fa {
						height:rem(18);
						width:rem(23);
					}

					&:hover {
						background: #000;

						.svg-inline--fa {
							color:$light;
						}
					}
				}
			}
		}

		.categories {
			margin-bottom:rem(19);
			.navbar-nav {
				.nav-item {
					margin-bottom:rem(7);
					.nav-link {
						border-bottom:1px solid;
						border-color:$light;
						display:inline-block;
						padding:0;
						transition:300ms border ease-in-out;

						&:hover {
							border-bottom:1px solid transparent;
							color:$light;
						}
					}
				}
			}
		}

		.recent-stories {
			.carousel {
				.carousel-indicators {
					bottom:rem(-30);

					li {
						cursor:pointer;
						width:3px;

						&:before,
						&:after {
							pointer-events:none;
						}
					}
				}
			}
		}
	}
}

// footer
footer {

	.footer-wrapper {
		background-color:$secondary;
		padding: {
			top:rem(13);
			bottom:rem(13);
		}

		.navbar-nav {
			.nav-item {
				margin-left:rem(15);

				a.nav-link {
					padding:0;
					border-bottom:1px solid;
					border-color:$light;
					transition:300ms border ease-in-out;

					&:hover {
						color:$light;
						border-bottom:1px solid transparent;
					}
				}

				&.active {
					.nav-link {
						border-bottom:1px solid transparent;
					}
				}
			}
		}
	}
}

@media screen and (min-width:768px) {
	.main-container {
		aside {
			padding: 16px 13px;

			.social-icons {
				li {
					margin-right:9px;
				}
			}
		}
	}
}

@media screen and (min-width:992px) {
	body {
		padding: {
			top:10px;
			left:50px;
			right:50px;
			bottom:10px;
		}
	}
	header {
		margin-bottom:10px;
	}
	nav {
		padding-right:0 !important;
		padding-bottom:0 !important;

		.nav-item {
			margin-right:2px;
			width:102px;
			border-bottom:0 none;

			a.nav-link {
				padding: {
					top:6px !important;
					bottom:6px !important;
				}
			}
		}

		.nav-item.dropdown {
			.dropdown-toggle {
				padding: {
					top:6px;
					bottom:6px;
				}
			}
		}
	}
	.main-container {
		aside {
			.social-icons {
				li {
					a {
						padding:rem(7);
					}
				}
			}
		}
	}
	footer {
		margin-top:10px;
	}
}

@media screen and (min-width:1400px) {
	body {
		padding: {
			left:0;
			right:0;
		}
	}
	.main-container {
		aside {
			.social-icons {
				li {
					margin-right:13px;
				}
			}
		}
	}
}